.orcamento
{
    max-width: 1200px;
    padding: 64px 160px;
    margin: 0px auto;
    background-color: #121212;

}

.orcamento-titulo h1
{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;

}

.orcamento-titulo h2
{
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 100;
    color: #dedede;

}

.orcamento-tela
{
    display: grid;
    grid-template-columns: 5fr 7fr;
    margin-top: 64px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

}

.orcamento-tela h2
{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-weight: 100;
    color: #9c9c9c;

}

.orcamento-tela h2::before
{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background-color: #ffb800;
    border-radius: 4px;

}

.orcamento-produto
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    padding: 40px;
    gap: 0px 20px;
    background-color: #000000;
    border-radius: 5px 0px 0px 5px;

}

.orcamento-produto h2
{
    grid-column: 1/-1;

}

.orcamento-produto label
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 12px;
    font-size: 1.25rem;
    color: #9c9c9c;
    background-color: #121212;
    border-radius: 5px;
    cursor: pointer;

}

.orcamento-produto > label
{
    margin-bottom: 40px;

}

.orcamento-produto label::before
{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: solid 1px #9c9c9c;
    border-radius: 7px;

}

.orcamento-produto label span
{
    display: none;

}

.orcamento-produto input
{
    position: absolute;
    opacity: 0;
    pointer-events: none;

}

.orcamento-produto input:checked + label
{
    color: #121212;
    background-color: #f5f5f5;

}

.orcamento-produto input:checked + label::before
{
    box-shadow: inset 0px 0px 0px 3px #f5f5f5, inset 0px 0px 0px 6px #9c9c9c;

}

.orcamento-produto input:checked + label span
{
    display: inline-block;

}

.orcamento-item
{
    display: none;
    grid-column: 1/-1;

}

#bikcraft:checked ~ #orcamento-bikcraft, #seguro:checked ~ #orcamento-seguro
{
    display: grid;
    gap: 20px;

}

.orcamento-bicicleta
{
    display: none

}

#nimbus:checked ~ #orcamento-nimbus, #magic:checked ~ #orcamento-magic, #nebula:checked ~ #orcamento-nebula
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
    gap: 12px;
    background-color: #f5f5f5;
    border-radius: 5px;

}

.orcamento-bicicleta ul
{
    margin: 0px;

}

.orcamento-bicicleta li
{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #121212;

}

.orcamento-bicicleta li + li
{
    margin-top: 16px;

}

.orcamento-bicicleta li img
{
    width: 16px;
    margin-right: 4px;

}

.orcamento-bicicleta img
{
    border-radius: 5px;

}

.orcamento-dados
{
    padding: 40px;
    background-color: #ffffff;
    border-radius: 0px 5px 5px 0px;

}

.formulario-cpf, .formulario-email, .formulario-termos
{
    grid-column: 1/-1;

}

.orcamento-dados .formulario-email
{
    margin-bottom: 40px;

}

.formulario-termos
{
    display: flex;
    align-items: center;
    margin-bottom: 32px;

}

.formulario-termos label
{
    font-size: 1rem;
    margin: 0px;

}

.formulario-termos a
{
    color: #121212;
    text-decoration: underline;

}

.formulario-termos input
{
    cursor: pointer;

}

@media(max-width: 1200px)
{
    .orcamento
    {
        padding-top: 48px;
        padding-bottom: 48px;

    }

    .orcamento-titulo h1
    {
        font-size: 3rem;

    }

    .orcamento-tela
    {
        margin-top: 48px;

    }

    .orcamento-produto, .orcamento-dados
    {
        padding: 32px;
    
    }

    #nimbus:checked ~ #orcamento-nimbus, #magic:checked ~ #orcamento-magic, #nebula:checked ~ #orcamento-nebula
    {
        grid-template-columns: 1fr;

    }

}

@media(max-width: 1000px)
{
    .orcamento
    {
        padding-left: 80px;
        padding-right: 80px;

    }

    .orcamento-tela
    {
        grid-template-columns: 1fr;

    }

    .orcamento-produto
    {
        border-radius: 5px 5px 0px 0px;

    }

    .orcamento-dados
    {
        border-radius: 0px 0px 5px 5px;

    }

}
